* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: 1px solid black;
    padding: 50px;
    border-radius: 20px;
}

fieldset {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
}

legend {
    font-size: 2rem;
    font-weight: 700;
}

.form_element {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-size: 2rem;
}

input {
    height: 2rem;
    width: 300px;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
}

input:hover {
    border: 5px solid black;
}

button {
    width: 50%;
    font-size: 2rem;
    padding: 15px;
    border-radius: 10px;
    align-self: center;
    font-weight: 700;
}

button:hover {
    background-color: green;
    color: white;
}