body {
    overflow-y: hidden;
    display: flex;
    align-items: stretch;
    margin: 0px;
}

.left_image {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.logo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;
    padding: 5%;
    box-sizing: border-box;
}

.odin_text {
    font-size: 10rem;
    color: white;
    flex-shrink: 0;
}

.logo_image {
    flex-shrink: 1;
    width: 20%;
    height: auto;
}

.credits {
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 1.5rem;
}

.info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    padding: 7rem 5rem;
    font-weight: 700;
    background-color: beige;
    height: 35vh;
    box-sizing: border-box;
}

p {
    margin: 16px 0px;
}

.signup {
    position: relative;
}

.singup_section>p {
    padding: 32px 0px 32px 0px;
    margin: 0px;
    font-size: 2rem;
    font-weight: 600;
}

label {
    display: block;
    width: 300px;
    color:gray;
}

.singup_section {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0rem 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    box-sizing: border-box;
    height: 30vh;
}

.row_item {
    display: inline-block;
    width: 300px;
    margin-right: 20rem;
}

.input_row {
    display: block;
    margin: 16px 0px 32px 0px;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

.account_action {
    padding: 5rem 16px 0px 5rem;
}

button {
    width: 250px;
    height: 55px;
    border-radius: 5px;
    margin-bottom: 16px;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    background-color: rgb(18, 101, 18);
}

.account_action>p {
    font-size: 1.2rem;
}