body {
    overflow-y: hidden;
    display: flex;
    align-items: stretch;
    margin: 0px;
}

.left_image {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.logo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;
    padding: 5%;
    box-sizing: border-box;
}

.odin_text {
    font-size: 10rem;
    color: white;
    flex-shrink: 0;
}

.logo_image {
    flex-shrink: 1;
    width: 20%;
    height: auto;
}

.credits {
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 1.5rem;
}