* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 200px;
    height: 150px;
    background-color: #0077b6;
    align-items: center;
}

.left_header {
    display: flex;
    align-items: center;
    gap: 50px;
}

.left_header>img {
    height: 75px;
}

.left_header>p {
    font-weight: 700;
    font-size: 4rem;
    color: white;
}

.right_header {
    display: flex;
    gap: 120px;
    align-items: center;
}

.right_header input {
    height: 75px;
    width: 600px;
    font-size: 2rem;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    border: none;
}

.fc_selection {
    background-color: #0077b6;
    height: 75px;
    width: 75px;
    border-radius: 10px;
    border: 5px solid #90e0ef;
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
}
