* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 200px;
    height: 150px;
    background-color: #0077b6;
    align-items: center;
}

.left_header {
    display: flex;
    align-items: center;
    gap: 50px;
}

.left_header>img {
    height: 75px;
}

.left_header>p {
    font-weight: 700;
    font-size: 4rem;
    color: white;
}

.right_header {
    display: flex;
    gap: 120px;
    align-items: center;
}

.right_header input {
    height: 75px;
    width: 600px;
    font-size: 2rem;
    border-radius: 35px;
    padding: 15px;
    text-align: center;
    border: none;
}

.right_header input:hover {
    border: 3px solid #03045e;
}

.fc_selection {
    background-color: #0077b6;
    height: 75px;
    width: 75px;
    border-radius: 10px;
    border: 5px solid #90e0ef;
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
}

.fc_selection:hover {
    border: 5px solid #03045e;
    background-color: #90e0ef;
}

.address {
    background-color: #90e0ef;
    height: 50px;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    height: 200vh;
    background: rgb(0,119,182);
    background: linear-gradient(rgba(0,119,182,1) 0%, rgba(0,180,216,1) 24%, rgba(0,212,255,1) 100%);    
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}