* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --main_theme : #815854;
    --secondary_theme : #F9EBDE;
}

.dashboard .icon {
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(40deg) brightness(100%) contrast(102%);
}

.page_container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.dashboard {
    grid-row: 1 / span 2;
    grid-column: 1;
    background-color: var(--main_theme);
    padding: 20px;
}

.logo_dash {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.logo_dash > .icon {
    height: 90px;
    width: 90px;
}

.logo_dash > p {
    font-size: 3rem;
    color: white;
    font-weight: 700;
    margin-left: 20px;
}

.nav_dash,
.setting_dash {
    margin-left: 10px;
}

.nav_dash_li,
.setting_dash_li {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}

.nav_dash_li .icon,
.setting_dash_li .icon,
.head .icon {
    height: 50px;
    width: 50px;
}

.profile_pic_background {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_dash_li p,
.setting_dash p {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.setting_dash {
    margin-top: 100px;
}

.head {
    grid-row: 1;
    grid-column: 2;
}

.main_nav {
    grid-row: 2;
    grid-column: 2;
}

.head {
    display: grid;
    grid-template-columns: 3fr 1.9fr;
    grid-template-rows: 1fr 1.9fr;
    padding: 20px;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

#search_input {
    height: 50px;
    border-radius: 20px;
    margin-left: 35px;
    width: 90%;
    border: 0px solid white;
    background-color: lightgray;
}

.profile {
    margin-left: 100px;
    margin-right: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile img {
    height: 60px;
    width: 60px;
}

.profile .profile_pic_background {
    background-color: #ffae42;
    height: 65px;
    width: 65px;
}

.profile p {
    font-weight: 700;
    font-size: 2rem;
}

.account {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.account .profile_pic_background {
    background-color: #ffae42;
    height: 100px;
    width: 100px;
}

.greeting  p{
    font-weight: 700;
    margin-left: 35px;
}

.greeting :first-child {
    font-size: 1rem;
}

.greeting :last-child {
    font-size: 2.4rem;
}

.nav_options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 60px;
}

.nav_option_button {
    background-color: var(--main_theme);
    color: white;
    font-weight: 700;
    font-size: 2.2rem;
    height: 75px;
    width: 170px;
    border-radius: 35px;
    border: 1px solid white;
}

.main_nav {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--secondary_theme);
}

.projects {
    grid-row: 1 / span 2;
}

.projects h2 {
    font-size: 2rem;
}

.projects h3 {
    font-size: 1.5rem;
}

.project_desc {
    font-size: 1.3rem;
    color: gray;
}

.project_card {
    height: 25%;
    border-left: 10px solid #ffae42;
    border-radius: 10px;
    background-color: white;
}